body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@import "modal";

.row {
  height: 16px;
  div {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: transparent;

    &.grass {
      background-image: url(/images/grass.png);
    }

    &.wall {
      background-image: url(/images/ground.png);
    }

    &.player {
      background-image: url(/images/player.png);
    }

    &.enemy {
      background-image: url(/images/enemy.png);
    }

    &.boss {
      background-image: url(/images/boss.png);
    }

    &.health {
      background-image: url(/images/health.png);
    }

    &.weapon {
      background-image: url(/images/weapon.png);
    }

    &.teleport {
      background-image: url(/images/teleport.png);
    }

    &.darkness {
      background: #000;
    }
  }
}
.elements {
  padding-bottom: 10px;
  > div {
    display: inline;
    margin-right: 10px;
  }
}
.status-bar {
  color: white;
  background-color: black;
}