@import "modal";
.row {
  height: 10px;
  div {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #FFFFFF;

    &.wall {
      background: #000000;
    }

    &.player {
      background: #00FF00;
    }

    &.enemy {
      background: #FF0000;
    }

    &.boss {
      background: #990000;
    }

    &.health {
      background: #0000FF;
    }

    &.weapon {
      background: #FFFF00;
    }

    &.teleport {
      background: #b77dff;
    }
  }
}
.elements {
  padding-bottom: 10px;
  > div {
    display: inline;
    margin-right: 10px;
  }
}