.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.64);

  .modal {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    width: 300px;
    border: 1px solid #8b8b8b;
    border-radius: 3px;

    h3 {
      margin-top: 0;
    }
  }
}